---
name: SysFink Web interface

# Catalyst bug? http://www.mail-archive.com/catalyst@lists.rawmode.org/msg05868.html
uploadtmp: '/tmp/sysfink/uploads'

session:
    expires: '3600'
    rewrite: '0'
    storage: '/tmp/sysfink/web-sessions'
